__pycache__/
*.py[cod]
# Virtual environment
venv/
venvCUDA/
# Datasets
data/

# Logs and model checkpoints that may be large or regenerated
*.pt
*.yaml
logs/
# Optionally ignore the entire experiments folder if desired
# experiments/

# System files
.DS_Store
Thumbs.db

# GPU testing files
gpu_testing.py

#prediction videos
*.avi
*.mp4
*.mov
*.whl
packages/
experiments/scratch/YOLOv11_nano/sort.py

jetson/models/
jetson/output/

translation/models/

docker_setup/yolo_output/