ultralytics
pyyaml
opencv-python
#torch
#torchvision
#torchaudio --index-url https://download.pytorch.org/whl/cu126


protobuf


#GStreamer plugins ensure the G-API GStreamerPipeline class loads properly
